@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

*{
    font-family: Inter;
    margin: 0;

}

header{
    background: linear-gradient(to top, rgb(17, 17, 17),rgba(119, 119, 119, 0) 1000%);
}
.navbar {
    padding-top: 3.65625rem;
    color: rgb(255,255,255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 120%;
}

.logo{
    color: rgb(230, 83, 60);
    font-weight: 800;
    font-size: 2.25rem;
}

.ham{
    display: none;
}

.box1{
    list-style: none;
    display: flex;
    align-items: center;
    border: 1px solid rgb(255,255,255,0.1);
    border-radius: 49px;
    gap: 2.9375rem;
    padding: 2px;
    padding-right: 1.25rem;
}

.navbar >.box1> li:first-child{
    background-color: rgb(230, 83, 60);
    border: 5px solid rgb(230, 83, 60);
    border-radius: 49px;
    font-weight: 600;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
}
.banner{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.written{
    margin-top: 1.5rem;
    font-family: Inter;
    color: rgb(255,255,255);
    height: 17.625rem;
    width: 32.5rem;
}

.shape{
    font-family: Miama;
    font-weight: 400;
    font-size: 4.875rem;
}

.motto{
    font-weight: 900;
    font-size: 4.875rem;
    margin: 1.75rem 0;
}

.description{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1.75rem;
}

.primary-btn{
    font-family: Inter;
    color: rgb(255,255,255);
    font-size: 1rem;
    font-weight: 600;
    background: rgb(230, 83, 60);
    border: 1px solid rgb(230, 83, 60);
    border-radius: 42px;
    padding: 1rem 2.5rem 1rem 2.5rem;
}

.sec-btn{
    font-family: Inter;
    color: rgb(255,255,255);
    font-size: 1rem;
    font-weight: 600;
    background: rgb(0, 0, 0);
    border: 1px solid rgb(255,255,255);
    border-radius: 42px;
    padding: 1rem 2.5rem 1rem 2.5rem;
}

.circle{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}

.text{
    color: rgb(255,255,255);
    font-size: 1.25rem;
    font-weight: 900;
}

.text2{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 1rem;
}

.banner-photo{
    position: relative;
}

.s-border{
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    text-align: left;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    width: 55%;
    height: 12%;
    padding: 0.5rem;
    position: absolute;
    top: 27rem;
    right: 16rem;
    backdrop-filter: blur(20px);
}

.s-border>ul{
    list-style: none;
}

.s2-border{
    top: 10rem;
    left: 15rem;
    background: rgba(255, 255, 255, 0.1);
}
.text3{
    color: rgb(255,255,255);
    font-size: 2.25rem;
    font-weight: 900;
}

.tasks{
    margin-top: -0.2rem;
    color: white;
    background-color: black;
    align-items: center;
    text-align: center;
}

.motto2{
    padding-top: 6.25rem;
    padding-bottom: 0.875rem;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;

}

.tasks2{
    margin-top: 3.625rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 12%;
    padding-right: 12%;
}

.description2{
    padding-left: 27%;
    padding-right: 27%;
}

.c-img{
    width: 11.5rem;
    height: 11.25rem;
    border-radius: 50%;
    object-fit: cover;
}

.task-head{
    margin-top: 1.875rem;
    font-weight: 600;
    font-size: 1.125rem;
}

.task-des{
    padding: 0.375rem 1rem;
    font-weight: 400;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}

.task3{
    background-color: black;
}

.join-box-main{
    color: white;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    display: flex;
    align-items: center;
    padding:2%;
    margin-right: 11%;
    margin-left: 11%;
}
.join-box{
    padding-right: 28%;
}

.join-head{
    font-size: 2.25rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
.task-des2{
    padding: 0;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}


.join-img{
    width: 22.875rem;
    height: 15.5rem;
    border-radius: 18px;
}


@media screen and (max-width: 576px){
    .navbar{
        justify-content: space-between;
        margin-left: 1.25rem;
        margin-right: 1.25rem;

    }

    .box1{
        display: none;
    }
    .ham{
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        cursor: pointer;
    }
    .ham span{
        display: block;
        width: 25px;
        height: 1px;
        background-color: white;
    }
    .banner{
        flex-direction: column;
        margin-left: 1.25rem ;
    }

    .banner-photo{
        margin-top: 10rem;
    }

    .motto{
        font-size: 2.25rem;
        padding-right: 50%;
    }

    .description{
        padding-right: 50%;
    }


    .s-border{
        width: 40%;
        height: 15%;
        top: 16rem;
        right: 16rem;
    }
    .s2-border{
        width: 35%;
        top: 4rem;
        left: 12rem;
    }

    .tasks2{
        grid-template-columns: repeat(1,1fr);
    }

    .task-des{
        margin-bottom: 2.25rem;
    }

    .tasks{
        font-size: 3rem;
    }

    .description2{
        font-size: 0.875rem;
        padding-left: 21%;
        padding-right: 21%;
    }
}